.main-view
  .left-bar
    .left-box
      .user-box
        = current_user.name
      .icon_box
        .side_icon_users
          = link_to new_group_path do
            =icon("fa","users", class: "icon")
        .side_icon_edit
          = link_to edit_group_path(@group,:id) do
            =icon("far","edit",class: "icon")
      .side-group
        .groups-list
          - current_user.groups.each do |group|
            .groups-list-top
              = link_to group_messages_path(group) do
                .groups-list-center
                  =group.name
                .groups-list-bottom
                  = group.show_last_message