.header
  .header_name
    .header__plus
      =link_to tweets_path do
        一覧へ↩️
        
.contents.row
  .container
    = form_for (@tweet) do |form|
      %h3
      = form.text_field :name, placeholder: :name, class: :form__title 
      = form.text_field :image, placeholder: :image, class: :form__box
      = form.text_area :text, placeholder: :text, class: :form__text
      = form.submit "SEND", class: :form__send

      -# rows: "10"