.content__title
  新規記事の作成
= form_for (@post) do |f|
  = f.label :title
  = f.text_field :title, pleceholder: "タイトル"
  = f.label :content
  = f.text_area :content, pleceholder: "ブログ本文"
  = f.label :title
  = f.submit "投稿する", class: "form_btn"


-#  model:class: :form, local: true
-# , placeholder: :タイトル, class: :form__title
-# , placeholder: :ブログ本文, class: :form__content
-# ,class: :form__btn